export(addStyle)
export(addWorksheet)
export(conditionalFormat)
export(convertFromExcelRef)
export(convertToDate)
export(createStyle)
export(createWorkbook)
export(deleteData)
export(freezePane)
export(getStyles)
export(insertImage)
export(insertPlot)
export(loadWorkbook)
export(mergeCells)
export(modifyBaseFont)
export(orderCellRef)
export(pageSetup)
export(read.xlsx)
export(readWorkbook)
export(removeCellMerge)
export(removeColWidths)
export(removeRowHeights)
export(removeWorksheet)
export(renameWorksheet)
export(replaceStyle)
export(saveWorkbook)
export(setColWidths)
export(setFooter)
export(setHeader)
export(setRowHeights)
export(sheets)
export(showGridLines)
export(write.xlsx)
export(writeData)
export(writeDataTable)
import(methods)
importFrom(Rcpp,sourceCpp)
useDynLib(openxlsx)
